@{
    ViewBag.Title = "Rent";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">

    </div>
    
</nav>
